<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Horoscope Webapp Home</title>
</head>
<header>
    <div> Check Your Horoscope!</div>
</header>
<body>
    <form>
        <div>
            <label for="form-1-starsign">
              Choose your starsign
            </label>
            <select class="form-control" id="form-1-starsign">
              <option selected>
                Cancer
              </option>
            </select>
        </div>
    </form>
</body>
</html>